html,body{
  margin:0;
  padding:0;
}

div {
  box-sizing: border-box;
}

p {
  font-size: 16px;
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
  font-family: serif;
}

h2 {
  font-size: 32px;
  font-family: serif;
}

.header {
  width: 100%;
  padding: 1em;
}

.header select {
  width: auto;
  margin: auto;
  padding: 0.25em;
}

.results {
  width: 100%;
  padding: 0.3em;
  position: relative;
}

.imgwrapper {
  float: left;
  padding: 1.2em;
}

.mainpane {
  width: 100%;
  position: relative;
}

.listpane {
  width: 65%;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  background-color: rgb(120,120,100);
  padding: 1em;
}

.listpane ul {
  text-align: left;
}

.detailpane {
  text-align: center;
  width: 34%;
  margin: 0;
  display: inline-block;
  background-color: rgb(100,120,120);
  padding: 1em;
}
